/* Background CSS Starts From Here! */

body {
    background-color: lightblue;
    text-align: center;
    text-align: center;
}

#cow {
    width: 600px;
    height: 600px;
    position: relative;
    /* margin-left: -2.5in; */
    margin: 10px;
}

#right-eye,
#left-eye {
    fill: black;
    animation-name: look;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#lids {
    animation-name: blink;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#right-ear {
    animation-name: earwag;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform-origin: left;
    transform-box: fill-box;
}

#left-ear {
    animation-name: earwag;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes blink {
    0%,
    63% {
        rx: 12;
        ry: 12;
    }
    64% {
        ry: 0;
        rx: 12;
    }
    65%,
    83% {
        rx: 12;
        ry: 12;
    }
    84% {
        ry: 0;
        rx: 12;
    }
    85%,
    100% {
        rx: 12;
        ry: 12;
    }
}

@keyframes look {
    0% {
        rx,
        ry: 5;
    }
    2% {
        rx: 7;
        ry: 7;
        transform: translateX(0px);
    }
    19% {
        transform: translateX(0px);
    }
    20%,
    30% {
        rx: 7;
        ry: 7;
        transform: translateX(7px);
    }
    31%,
    47% {
        transform: translateX(-7px);
    }
    48% {
        transform: translateX(0px);
        rx: 7;
        ry: 7;
    }
    49%,
    63% {
        rx: 5;
        ry: 5;
    }
    64% {
        ry: 0;
        rx: 5;
    }
    65%,
    83% {
        rx: 5;
        ry: 5;
    }
    84% {
        ry: 0;
        rx: 5;
    }
    85%,
    100% {
        rx: 5;
        ry: 5;
    }
}

@keyframes earwag {
    0%,
    9.9% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(-10deg)
    }
    15% {
        transform: rotate(10deg)
    }
    20% {
        transform: rotate(-10deg)
    }
    25% {
        transform: rotate(10deg)
    }
    26%,
    100% {
        transform: rotate(0deg)
    }
}

#nose {
    animation-name: twitch;
    animation-duration: 5s;
    animation-direction: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes twitch {
    0% {
        transform: rotate(5deg)
    }
    2% {
        transform: rotate(-5deg)
    }
    4% {
        transform: rotate(0deg)
    }
}


/* Background CSS Ends Here! */

#main {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 100px !important;
    position: relative;
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#t1 {
    position: relative;
    top: -15%;
    height: max-content;
    width: 500px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    background: #ADD8E6;
    cursor: pointer;
    border-radius: 8px;
}

#t1:hover {
    position: relative;
    top: 75%;
    height: max-content;
    width: 500px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#main #t1 a {
    text-decoration: none;
    color: black;
}